@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/carrossel.css);
@import url(styles/topicos.css);

:root {
    --cor-de-fundo:#00FFA3;
    --verde: #2AE832;
    --branco: #fff;
    --verde-degrade: linear-gradient(97.54deg, #00520e 35.49%, #3c8932 165.37%);
    --fonte-principal: "Poppins";
    --preto: #0F0020;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}   

