.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

#logo {
    width: 70px;
    height: 70px;
}

.logo-expandido {
    display: none;
}

.cabecalho {
    background-color: var(--verde);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /*tem que ser diferente de static para permitir o deslocamento da .lista-menu - elemento filho*/
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute; /*posição vai ser de acordo com o elemento pai - cabecalho*/
    top: 100%; /*100% para baixo do cabeçalho*/
    width: 60vw;
    z-index: 9999; /*resolve a sobreposição quanto maior o valor "mais para cima*/
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo, 
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--verde);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--verde-degrade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.container__botao {
    display: none;
}

.opcoes {
    display: none;
}

@media screen and (min-width: 1024px) {
    .logo-reduzido {
        display: none;
    }

    .logo-expandido {
        display: flex;
        margin: -3.5em 0;
        object-fit: contain;
        width: 200px;
        height: 200px;
        padding-left: 1.5em;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-transparente {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }
}